<form action="/home/update/<%=@post.id%>" method="post">
    <p>제목</p>
    <input type="text" name="title">
    <p>내용</p>
    <input type="text" name="content">
    <p>제출</p>
    <input type="submit">
</form>

<%= form_for(@post, )

<a href="/">홈으로</a>